body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}
a {
  color: blue;
  cursor: pointer;
}
table {
  text-align: center;
}
#main {
  height: 100%;
}
#projects {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#empty-project {
  width: 300px;
  margin: 0 auto;
}
.list-group {
  margin-top: 20px;
}
#collapse-project {
  margin-top: 10px;
}
#form-project {
  display: flex;
  justify-content: space-between;
}