#messageSuccess{
  color:rgb(0, 75, 187);
  position: absolute;
  left:50%;
}
#messageError{
  color:#FF0000;
  position: absolute;
  left:50%;
}

#createTodo, #editTodoForm, #TodoLists, #login-register-form {
  display: none;
}