body {
    font-family: 'Gochi Hand', cursive;
}

.landingBody {
    padding-top: 2.5em;
    background-color: rgb(250, 250, 171);
    min-height: 100vh;
    font-size: 33px;
}

.mainTitle {
    font-size: 80px;
    color: teal;
    transition: 0.2s all ease-in-out;
}

.mainTitle:hover {
    color: rgba(31, 210, 223, 0.871);
    transition: 0.2s all ease-in-out;
}

.landing-subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
}

.landingButton {
    font-size: 33px;
    border-radius: 20px;
    min-width: 150px;
    min-height: 55px;
    padding-top: 10px;
    color: rgb(250, 250, 171);
}

.loginModal {
    width: 50%;
}

#registerForm {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#dashboard {
    height: 100vh;
    background-color: rgb(250, 250, 171);
}
.dashboardDiv {
    font-size: 1.5em;
}

.sidePanel {
    max-width: 150px;
    display: inline-flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 64px);
    width: auto;
}

.content-page {
    width: 100%;
}

.main-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 520px;
    overflow-y: scroll;
}

.collection-item {
    display: flex;
    width: 80%;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(209, 209, 209, 0.871)
}

.project-list-item {
    display: flex;
}

.project-item-content {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.item-title {
    font-size: 1.4em;
    color: teal;
}

.item-title:hover {
    color: rgb(5, 168, 168);
}

.item-description {
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.detail-page {
    max-height: 620px;
    overflow-y: scroll;
    width: 100%;
}

.description {
    display: flex;
    flex-wrap: wrap;
}

.sectionTitle {
    font-size: 2em; 
    margin: 0;
}

.nomarginpadding {
    margin: 0;
    padding: 0;
}

.project-detail-title {
    margin-top: 15px;
    margin-bottom: 10px;
}

.left-border {
    border-left: 1px dashed rgba(128, 128, 128, 0.377);
    padding-left: 30px;
    min-height: 530px;
}

.small-text {
    font-size: 0.8em;
}

.navMain {
    background: teal;
}
.brand-logo {
    margin-left: 20px;
}

.links {
    color: teal;
    display: flex;
    align-items: center;
    min-height: 40px;
    min-width: 200px;
    padding-left: 15px;
    transition: 0.2s all ease-out;
}

.links:hover {
    color: rgb(5, 168, 168);
    transition: 0.2s all ease-out;
}

.navItem {
    font-size: 1em;   
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
    .loginModal {
        width: 80%;
    }
}