body {
    background-color: #DBD9D2
}

thead {
    font-family: Pacifico;
}

#home {
    margin-top : 10%;
    font-family: Pacifico;
}


#login {
    margin-left: 35%
}

.g-signin2 {
    margin-left: 12%;
}

.modal { width: 70% !important; }

#todoList {
    font-size: 10px;
}

.title {
    min-width: 100px;
}

.description {
    width: 300px;
}

h4, h6 {
    font-family: Pacifico; 
}
