.border {
    border: 1px solid lightgrey;
}

body {
    /* font-family: "Courier New", Courier, monospace; */
}

.todo-project-title {
    font-size: 30px;
}

.progress-bar-container {
    width: 100px;
}

.font-theme {
    font-family: "Courier New", Courier, monospace;
}

.font-13 {
    font-size: 13px;
}

.font-bold {
    font-style: bold;
}

.font-no-underline:hover {
    text-decoration: none;
}